<div class="center hero-unit">
	<h1>Bem Vindo ao Controle de Estoque</h1>
	<h2>Página Inicial do Controle de Estoque</h2>

	<%= link_to "Acesse agora!", '#', class: "btn btn-large btn-primary" %>
</div>





